<<<<<<< HEAD
﻿@model IEnumerable<vidly1.Models.Movie>
=======
﻿@model IEnumerable<vidly1.Models.Movies>
>>>>>>> c16370ff062cf943f08d470515b56fade20f828e

@{
    //model vidly1.Models.Customer

    ViewBag.Title = "Movies";


    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Movies</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}

else
{
<<<<<<< HEAD
<table class="table table-bordered table-hover">
    <thead>
    
        <tr>
    
            <th>Movie</th>
            <th>Genre</th>
    
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        
        {
            <tr>
            <tr>
                
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new {id = movie.Id}, null)</td>
                <td>@movie.GenreType.Name</td>
            </tr>
            </tr>
        }
        
    </tbody>
=======
    <table>
        <thead>
            <tr><th>Movies</th><th>Genres</th></tr>
        </thead>
        <tbody>
<h2>pump movies</h2>
                   </tbody>
>>>>>>> c16370ff062cf943f08d470515b56fade20f828e
    </table>
}



