@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@

@model vidly1.ViewModels.RandomMovieViewModel;
@{
    ViewBag.Title = "Random";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >@Model.Movie.Name</h2>
@if (Model.Customers.Count ==0)
{
    <p>No customers</p>
}
else {
    <ul>
        @foreach(var customer in Model.Customers) 
        {
          <li>@customer.Name </li>
        }
    </ul>
}